body{
    background-color: grey;
    text-align: center;
}

#main{
    background-color: white;
     padding-bottom:  1.5rem;

    
}
h1{
    margin-top: 4.5rem;
    padding-top:  4.5rem;
    padding-bottom:  1.5rem;
}

h2{
     padding-bottom:  1.5rem;
}

#increment-btn{
    padding: 1rem;
    background-color: green;
    color: white;
    border: 0;
}

#save-btn{
    padding: 1rem;
    background-color: red;
    color: white;
    border: 0;
}